header{
   background-color: black;
   height: 500px;
   width: 100%;
}
header h1{
    font-size:80px;
    padding-top: 80px;
}
.logo{
    padding-right:100px;
}
.football{
    position: relative;
    left:98px;
    top: 95px;
}
.players{
    width: 400px;
    height: 415px;
    margin-bottom: 20px;
}
.select{
    height: 50px;
    width: 250px;
    
    background-color: blue;
    
}
.calculate{
    width: 400px;
    height: 600px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.input{
    height: 60px;
    width: 150px;
}
.per-play{
    padding-top: 18px;
}